<footer class='relative clearfix main-footer'>
	  <!--{include file = $includeTemplate|cat:"footer/social-network.tpl.html"}-->
	  <figure class='splitter'></figure>
	  <section id='footer-links'>	    
	    <!--{include file = $includeTemplate|cat:"footer/links.tpl.html"}-->
	  </section>
	  <figure class='splitter'></figure>
	  <section id='footer-books'>
		<!--{include file = $includeTemplate|cat:"footer/books.tpl.html"}-->
	  </section>
	  <figure class='splitter'></figure>
	  <section id='site-infos'>
		<aside>
		  <a href='<!--{$applicationPath}-->' title='css3 designer, full of joy with css and html5'>
		    <img src="<!--{$imagePath|cat:"footer/logo-css3.png"}-->" alt="CSS3 Logo" />  
		  </a>
		  
		  <div class="info-bx miniRoundedCorner">
		  CSS3 Designer Goal is to provide the best <a href='http://www.w3.org/TR/css3-roadmap/' target='_blank'>CSS3</a> and <a href='http://www.w3.org/TR/html5/' target='_blank'>HTML5</a> techniques,online tools and tutorials for all web developers and designers around the world.
		  </div>
		</aside>
		<aside>
		  <a href='<!--{$applicationPath}-->' title='Old Coder is our favorite symbol '>
		    <img src="<!--{$imagePath|cat:"footer/logo-oldcoder.png"}-->" alt="Old Coder is our symbol" />
		  </a>
		  <div class="info-bx miniRoundedCorner">
		  Old Coder - this is our symbol that we just came up with for fun, we believe that we'll be coding and web developing forever. until all our hair becomes white. old coder is here to create a better world for all geek coders.
		  </div>
		</aside>
	  </section>
	  <figure class='splitter'></figure>
	  <section itemscope id='sponsors' class='footer-wrap'>
		<!--{include file = $includeTemplate|cat:"footer/sponsers.tpl.html"}-->
	  </section>
	  <section id='go-top'>
	    <a href="javascript:void(0)" class='gotop hideText' title=" Go Top">go top</a>
	  </section>
  </footer>