<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Css3 designer provides best css3 techniques for web developers and designers . we also support html5 and provide online html5 and css3 tools to inhance web development" />
<meta name="author" content="Mahdi Pedramrazi" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<meta name="title" content="css3designer" />
<meta name="designer" content="Mahdi Pedramrazi , Farzin Fadamin" />
<meta name="copyright" content="Copyright 2010-2011">