  
  /*  BUTTON MAKER
  ================*/

  #button-maker-loading { 
    margin: 150px 0px 0px 160px; 
    width: 350px; height: 100px; line-height: 100px; 
    background: #0A0A0; text-align: center }	
  
  #button-maker { width:740px; margin:0 10px 140px; text-align: center; height:700px;}
  
  #button-preview {
    position: absolute; top: 307px; left: 15px; 
    float: left;
    width: 250px;  }
    
  #button-preview div{
	padding: 100px 0;	
    background: transparent url('images/preview-bg.png'); }  
    
  #button-preview div a{/* ! this should be changed */}  
 
  #button-get-code,#button-share {
    margin: 15px 0 0 15px;
    height: 45px;  line-height: 45px; width: 215px;  
    background: url("images/icon-sprite.png") no-repeat scroll left top transparent;  color: #000;
    font-family: arial; font-size: 18px; text-transform: uppercase;
    cursor: pointer; }
   
  #button-share { background-position: left -45px; }

  #button-code-box { 
	  z-index: 9999; overflow: hidden;
	  width:500px; height: 300px; 
	  display: none; }

  #button-code-box .title{ 
    height: 30px;
    padding: 0 10px;
  	background:#444; color:#fff; 
  	text-align: left; text-transform: capitalize; line-height: 30px;
    font-size: 13px;    }
   
  #button-code-box .title a{ display: block; z-index: 1003; float: right; color: #eee; margin-left: 5px;}
  
  #button-code-box .title a:hover{ color:#333; text-decoration: underline;}
  
  code.prettyprint { 
    overflow-x: hidden; overflow-y: scroll; clear:both;
  	display: block; 
  	height: 260px; 
  	padding: 2px;
  	border: 1px solid #888;
  	background: #0f0f0f; 
  	text-align: left;
  	font-size: 12px; 
  	cursor: pointer; }
  
    
  .popup-overlay{
    position: fixed; z-index: 1002; top: 0;
    background:transparent url('images/code-overlay.png') repeat; opacity: 0.5; }
  
  
  .donation{
    margin: 16px 0 0 -10px }
    
  #button-controller { float: left;  width: 480px; margin-left: 248px;  }
  
  
	  /*  BUTTON TABMENU
	  ================*/
	  nav#button-tabmenu { width: 480px; height:28px; font-size: 11px; text-transform: capitalize; text-shadow: 1px 1px 1px #333; }
	  
	  #button-tabmenu li { margin-right: 5px; }      
	  
	  #button-tabmenu a ,  #button-tabmenu span { display: block; height: 28px; line-height: 28px; }
	  
	  #button-tabmenu a {
		 	 float: left;
			 padding-right: 10px; 
		 	 background: transparent url('images/corner-sprite.png') no-repeat right -199px; color: #fff; 
		 	 text-align: center; font-size: 12px;}      
		 
	  #button-tabmenu span { 
		   width:100px;
		   background: transparent url("images/sprite.png") no-repeat left -199px; }
				
	  #button-tabmenu a:hover{ 
	  	background-position: right -228px; }
		  			
	  #button-tabmenu a:hover span{ 
	  	background-position: left -228px; }

	  #button-tabmenu a:hover span , #button-tabmenu a.active span { 
	  	cursor: pointer; }
	  
	  #button-tabmenu a.active { 
	  	background-position: right -256px; }
		  			
	  #button-tabmenu a.active span{ 
	  	background-position: left -256px; }
	  
	  #button-controller .tab-content { background: #000; /*min-height: 300px; height: auto !important; height: 300px;*/}
	  
		  /*  BUTTON ACCORDION
		  =====================*/
		  .button-checkbox{
		  	position: absolute; left: 350px; top:0;}
		  	
		  nav.button-accordion { 
		  	margin: 0px auto;
		  	width:460px; 
		  	font-size: 12px; text-transform: capitalize;  }
		  
		  header.button-accordion-header{
		  margin-top: 3px;}
		  
		  header.button-accordion-header a , 
		  header.button-accordion-header span { 
		  	display: block; 
		  	height: 30px; line-height: 30px; }
		  
		  header.button-accordion-header a {
		    padding-right: 10px; 
			  background: transparent url('images/corner-sprite.png') no-repeat right -100px; color: #666;
			  font-size: 14px; 
			  text-align: center; }      
			 
		  header.button-accordion-header span{ 
		    padding:0 30px 0 40px;
				background: transparent url("images/sprite.png") no-repeat left -100px; }
					
		  header.button-accordion-header a:hover{ 
		  	background-position: right -130px; color: #fff; }
			  			
		  header.button-accordion-header a:hover span{ 
		  	background-position: left -130px; }
	
		  header.button-accordion-header a:hover span , 
		  header.button-accordion-header a.active span { 
		  	cursor: pointer; }
		  
		  header.button-accordion-header a.active { 
		  	background-position: right -160px; }
			  			
		  header.button-accordion-header a.active span{ 
		  	background-position: left -160px; }
	    
	    
			  /*  BUTTON ACCORDION CONTENT
			  =============================*/	    
		    section.button-accordion-content{ 
		    	padding: 20px 10px;	}
		    
		    section.button-accordion-content label , 
		    section.button-accordion-content fieldset { 
		    	display: block; clear: both; }
		    
		    section.button-accordion-content label { 
		    	float: left; margin: 0 20px 20px 0;
		    	width: 120px; height: 16px; line-height:16px;
		    	text-align: right; }
		    
		    section.button-accordion-content .slider,
		    section.button-accordion-content select ,
		    section.button-accordion-content .text { 
		    	float: left;
		    	width: 200px; }
		    
		    section.button-accordion-content .slider{ margin-top: 5px; font-size: 70%;  }	
		    
		    section.button-accordion-content select,
		    section.button-accordion-content .text { 
		    	font-size: 11px; border: 0; }	
		    	
		    section.button-accordion-content fieldset {  
		    	margin-bottom:10px; padding: 10px; 
		    	border: 1px solid #666; text-align:left;  }
	    
	        section.button-accordion-content legend {
	      	padding: 0 10px; 
	      	font-size:13px;	
	      	
	      	color:#666; }
	      	
	      	
	      	/*  HELPER STYLES
			==========================*/	
			.offText {	
				text-align: center; color: #888;  }	
			
			.offText span { color: #ddd; text-transform: capitalize; }
			
			.offBackground{
				position: absolute; z-index:1; top:10px;
				width:200px; height:36px;
				background:transparent url('images/code-overlay.png') repeat; opacity: 0.5; }

		  /*  COLOR PICKER
		  =====================*/	    
		.colorPicker{ height:36px;position:relative;width:36px; float:left; margin-top:-9px; }
		
		.colorPickerIn{
			position: absolute; top: 0; left: 0;
			height: 36px; width: 36px;
			background:url("images/colorpicker/select.png") repeat scroll 0 0 transparent; }
		
		.colorPickerInner{
			position: absolute; left: 4px; top: 4px;
			height: 28px; width: 28px;
			background: url("images/colorpicker/select.png") repeat scroll center center transparent; }


			/*	ON OFF BUTTON
			===========================*/
			.onoff{ 
				float: left; margin-left: 10px;
				height: 15px; width: 44px;
				background: url("images/icon-sprite.png") no-repeat scroll -345px top transparent;
				cursor: pointer; }
				
				
				
			/*	SLIDER
			===========================*/	
			.slideMinMax { position: absolute; color: pink; font-size: 11px;}
			
			.sliderMax{ top: -5px;  left: 207px; }
				
			.sliderMin{ top: -5px; left: -13px; }
			
			.sliderVal{ 
				position: absolute; top: -15px; left: 0px; 
				font-size: 10px; color: #fff } 	
				
				
/* HELPER FUNCTIONS 
============================*/

.alertBox { 
	border:1px solid #333; 
	padding:20px; 
	background:#eee; width:60%; margin:60px 0 ; }
	
.alertSuccess { color: green; }
.alertError { color: red; }
	