footer{
  width: 980px;
  margin: 0 auto;
  text-align: left }

.ie7 footer { margin-left: 7px }

footer a { color: #fff }

footer .splitter {
  background: url("images/footer/splitter.png") no-repeat center bottom transparent;
  width: 678px; height: 31px;
  margin: 0 auto; padding: 10px 0;
  clear: both }
  
figure.footer-bg {
  position: absolute; left: -2px; z-index: 2;
  background: url("images/footer/footer-bg.png") no-repeat transparent;  
  width: 984px; height: 101px }
  
  
.ie figure.footer-bg { left: 5px }

.ie7 figure.footer-bg { left: -2px }

.footer-wrap {
  width: 920px;
  margin: 0 auto }


#social-networks .footer-twitter {
  z-index: 3;
  margin: 72px 30px 0 0;
  float: left }

#social-networks .tweet-sign {
  background: url("images/footer/tweet-sign.png") no-repeat left 6px transparent; color:#ccc;
  width:480px; height:15px; line-height:15px;  
  text-align:right;
  margin-left:30px; padding-right:5px }

#social-networks .tweet-bx {
  background-color: #111;
  width: 500px;
  padding: 10px;
  color: #999; }

.tweet-bx  a.nxt, .tweet-bx  a.prv {
  float: right;
  font-size: 0;
  margin-top: 10px;
  width: 9px; height: 9px;
  background: transparent url("images/footer/icons.png") -50px -230px no-repeat;
}

.tweet-bx  a.nxt {
  background-position: -59px -230px;
  margin-left: 3px }

.tweet-bx  a.prv:hover {
  background-position: -50px -239px }
  
.tweet-bx  a.nxt:hover {
  background-position: -59px -239px }


#social-networks .other-socials {
  float: left }

#social-networks .footer-facebook, #social-networks .footer-rss { 
  height: 30px; line-height: 30px;
  margin: 100px 10px 0 0; padding-left: 40px;
  float: left; 
  background: url("images/footer/icons.png") left -170px no-repeat transparent}

#social-networks .footer-facebook {  
  width: 240px; line-height: 15px }

#social-networks .footer-facebook a.like {
  background: url("images/footer/icons.png") left -230px no-repeat transparent;
  width: 50px; height: 24px;
  float: left;
  margin: 3px 10px 0 0 }
  
#social-networks .footer-facebook a.like:hover {
  background-position: left -254px }
  
#social-networks .footer-rss {
  font-size: 1.2em;
  color: #444; background-position: left -200px }

#social-networks .footer-rss:hover { color: #888 }
  
#footer-links nav {
  float: left;
  width: 197px;
  list-style: none;
  margin: 0 23px }
  
.ie6 #footer-links nav { display: inline }

#footer-links nav li{ margin-top: 4px }

.ie6 #footer-links nav li{ display: inline; clear: both}

#footer-links nav li a {
  display: block;
  padding: 5px;  
  color: #666 }
  
#footer-links nav li a:hover {
  color: #fff !important;
  background: #0f0f0f !important;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px }

.footer-title {
  border-bottom: 1px solid #222;
  font-size: 1.2em;
  line-height: 45px;
  padding: 5px 0 10px 5px;
  margin-bottom:10px;
  display: block }

  .ie6 .footer-title { display:block !important }
  
.footer-title span {
  padding-left: 40px;    
  display: block;
  background:transparent url("images/footer/icons.png") left center no-repeat; color:#AfAFAF;
  height:34px; line-height:34px }

.footer-title .books { background-position: 0 0 }

.footer-title .members { background-position: 0 -34px }

.footer-title .tools { background-position: 0 -68px }

.footer-title .favorite { background-position: 0 -102px }

.footer-title .tutorial { background-position: 0 -136px }

#footer-books { padding: 15px 0 }

#footer-books nav { list-style: none }

#footer-books h5 {
  color: #AFAFAF;
  margin-bottom: 52px;
  font-weight: normal }
  
#footer-books li {
  float: left;
  margin: 0 5px;
  width: 215px;
  position: relative }

#footer-books li a img { float: left; border: 1px solid #333 }

#footer-books li a:hover img { border: 1px solid #666 }

#footer-books li span {
  position: absolute; bottom: 0; left:80px; 
  color:#999 }
  
.ie6 #footer-books li span { font-size: .9em }
  
#footer-books li span a { color: #444; font-style: italic}

#footer-books li span a:hover { color: #888 }

#site-infos {
  margin: 10px auto;
  width: 950px }
  
#site-infos aside{
  float: left;
  margin-right: 10px }

#site-infos img { float: left }

#site-infos .info-bx {
  float: left;
  margin-top: 20px; padding: 10px;
  background: #161616 url("images/footer/bg-infobx.png") left bottom repeat-x; color:#666;
  width: 205px; min-height: 90px; 
  text-shadow: 2px 2px 1px #000 }

.ie #site-infos .info-bx { height: 90px; background: #111 url("images/footer/bg-infobx.png") left bottom repeat-x }

#sponsors { padding-top: 10px }

#sponsors aside{ float: left; margin: 0 15px; display: inline;}

#sponsors aside img, #sponsors aside p { float: left; color: #fff }

#sponsors aside img { margin-top: 10px;}

#sponsors aside p { margin-left: 10px; width: 250px }

#go-top {
  clear: both;
  margin: 0 auto; padding: 5px;
  width: 60px }
  
a.gotop {
  display: block;
  background: transparent url("images/footer/icons.png") left -278px no-repeat;
  margin: 0 auto;
  width: 50px; height: 37px }

a.gotop:hover { background-position: -50px -278px }
  
#copyright {
  margin: auto 125px; padding: 15px 30px;
  width: 680px; height: 36px;
  background: transparent url("images/footer/copyright/bg-copyright.png") no-repeat center bottom }

.ie6 #copyright , .ie7 #copyright{ margin-top: 10px }

#copyright .copyright-txt { float: left }

#copyright .footer-logo { 
	float: right;
	height: 55px;
    margin-top: -15px; }
    
 .footer-logo img{ vertical-align: middle;} 
 .footer-logo a {  height:50px; line-height:50px;}  
