.button-maker-preview{
	font-size:15px; color:#ccc; margin-top:30px;
}

.button-maker-preview i ,  .gray{  color: #888; }

.button-maker-preview h6{ margin-top:30px; }


.button-maker-preview ol{list-style: decimal;}

.button-maker-preview ul,ol{
		  	  font-size: 14px;
		  	  padding-left: 42px;
}

.button-maker-preview li{ margin-bottom: 7px;}