
h2 { border-bottom: 1px dotted #222; width: 100% }

#main-box article { margin-bottom: 25px; color: #bbb; }

#about-members section { 
	border-bottom: 1px solid #333; 
	display:block; 
	margin: 30px 0 40px 20px;  padding-bottom: 30px;}

#about-members h5 { margin: 0 }
	
#about-members h6 { color: #777; }

#about-members aside { float: left }

.person-content { width: 560px }

#about-members img {
  margin: 0 10px 5px 0; padding: 7px;
  background-color: #111;
  border: 1px solid #1a1a1a; float: left }  
  
.aboutus p {
  font-size: 13px; line-height:25px; }

