<div id='main-box-wrapper'>
	  <section id="breadcrumb" class="clearfix">
	    <a title="Home" href='<!--{$applicationPath}-->'>Home</a>
		<span> / </span>
		<a title="Tools" href='<!--{$applicationPath}-->?action=tools'>Tools</a>
		<span> / Button maker</span>
	  </section>
	  <h2>CSS3 Button maker 1.0 Online Tool</h2>
	  <h6> Enjoy using the most magnificent css3 online tool <span style='color:gray'>( we are currently working on button maker version 1.1 )</span></h6>
	  <!--{include file = $includeTemplate|cat:"tools/buttonMaker/buttonMaker.tpl.html"}-->
</div>	  