<div id='main-box-wrapper'>
	  <section id="breadcrumb" class="clearfix">
	    <a title="Home" href='<!--{$applicationPath}-->'>Home</a>
		<span> / </span>
		<a title="Tools" href='<!--{$applicationPath}-->?action=tools'>Tools</a>
		<span> / Button maker</span>
	  </section>
	  <h2>Button maker</h2>
	  <div>
	  	please update your browser  
	  	<a href="http://www.getfirefox.net">
	  	  <img border="0" alt="Firefox 3" title="Firefox 3" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox3/110x32_best-yet.png"/>
	  	</a>
	  	in order to work with css3 button maker online tools.
	  </div>
</div>	  