<div id='main-box-wrapper'>
	  <article itemscope>
	    <h2 itemprop="title">Online CSS3 Button Maker Tool</h2>
	      <a href='<!--{$applicationPath}-->?action=tools'>
		      <img itemprop="img" 
		           src="<!--{$imagePath}-->home/button-maker-ad.jpg" 
		           alt="Online CSS3 Button Maker Tool" />
	      </a>
	      <section  class='button-maker-preview' >
		     <p itemprop="content"  > CSS3 BUTTON MAKER 1.0 beta has been released <br /><br />
		  	   create your own button for your website without a need of 
		  	   <i>Javascript</i>, <i>Flash</i> or even <i>Images</i> <br /> try it now 
		  	   <a  href='<!--{$applicationPath}-->tools'>CSS3 Button Maker Online Tool</a>
		  	 </p>
		  	 <hr />
		  	<h6> Why using Css3 Button Maker Online Tool:</h6>
		  	<ol>
		  	  <li>  No Need for Flash</li>
		  	  <li>  No Need for Javascript <span class='gray'>( no more dealing with js code to tweak your button )</span</li>
		  	  <li>  No Need for Images <span class='gray'>( Photoshop - images makes our site load slower)</span</li>
		  	  <li>  Faster Websites - by using the browsers native built in code we end up having faster websites</li>
		  	  <li>  Write more reliable and advanced css code </li>
		  	</ol>
		  	<h6>Css3 Button Maker Online Tools Features are listed below</h6>
		    <ul>
		      <li> - Create your own button and get your CSS code.</li>
		      <li> - Ability to create different modes of your button <span class='gray'>( Link, Hover, Visited, Active ) </span></li>
		      <li> - Border Shadow </li>
		      <li> - Round Corner </li>
		      <li> - Gredient Background </li>
		      <li> - Text Shadow </li>
		      <li> - and many many more feature...</li>
		    </ul>
		  </section>	 

	  </article>
	  
</div>