		  <header class='main-header'> 
		    <div itemscope itemtype="http://data-vocabulary.org/Organization">
		      <h1 itemprop="name">
		        <a href='http://www.css3designer.com' class='logo hideText' title='css3designer'>css3designer</a>
		      </h1>
		    </div>
		    <nav>
			<!--{include file = $includeTemplate|cat:"nav-main.tpl.html"}-->
		    </nav> 
		  </header> 
		  <figure id='main-top'></figure>
		  <div id='main-middle' class='roundedCorner'>
		    <div id='main-box'>
			<!--{include file = $_LITE_.VARS.actionTrigger}-->
			</div>
			<section id='side-box'>
			  <!--{include file = $includeTemplate|cat:"side-social.tpl.html"}-->
			  <aside class='ads'>
			  <!--{include file = $includeTemplate|cat:"ads.tpl.html"}-->
			  </aside>
			</section>
			<!--{include file = $includeTemplate|cat:"footer.tpl.html"}-->
		  </div><!--/ #main-middle -->
		  <figure id='main-bottom' class='clearfix'>
		  <!--{include file = $includeTemplate|cat:"copyright.tpl.html"}-->
		  </figure>