    <section itemscope id='copyright' class='miniRoundedCorner2'>
	  <aside class='copyright-txt'>
	  	&copy; 2010 - All rights reserved by 
	  	<a title="Mexo LLC." href="http://mexo.co" itemprop="url" title='Mexo LLC ( Web Development Compnay )' >mexo.co</a>
	  </aside>
	  <aside class='footer-logo'>
	    <a title="http://css3designer.com" href="./" itemprop="url">
	      <img itemprop="img" src='<!--{$imagePath|cat:"footer/copyright/logo-css3-small.png"}-->' alt="CSS3 Logo" />
	     </a>  
	     <a>
	     <a title="Html5 Powered" href="http://www.w3.org/html/logo/faq" itemprop="url">
	       <img width="33" height="34" src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" alt="HTML5 Powered" >
	     </a>
	  </aside>
	  <figure class='clearfix'></figure>
    </section>