    <section itemscope id='copyright' class='miniRoundedCorner2'>
	  <aside class='copyright-txt'>
	  	&copy; 2010 - All rights reserved by 
	  	<a title="Mexo LLC." href="http://mexo.co" itemprop="url" title='Mexo LLC ( Web Development Compnay )' >mexo.co</a>
	  </aside>
	  <aside class='footer-logo'>
	    <a title="http://css3designer.com" href="./" itemprop="url">
	      <img itemprop="img" src='<!--{$imagePath|cat:"footer/copyright/logo-css3-small.png"}-->' alt="CSS3 Logo" />
	    </a>
	  </aside>
	  <figure class='clearfix'></figure>
    </section>